<html>
    <h1>HR ANALYTICS</h1>


<form action="/result" method="POST">

    <label for = "department">Department</label>
    <select id = "department" name = "department">
        <option value = "0">Analytics</option>
        <option value = "1">Finance</option>
        <option value = "2">HR</option>
        <option value = "3">Legal</option>
        <option value = "4">Operations</option>
        <option value = "5">Procurement</option>
        <option value = "6">R&D</option>
        <option value = "7">Sales & Marketing</option>
        <option value = "8">Technology</option>
    </select> 
    <br>
    <label for = "region">Region</label>
    <select id = "region" name = "region">
        <option value = "0">region_1</option>
        <option value = "1">region_10</option>
        <option value = "2">region_11</option>
        <option value = "3">region_12</option>
        <option value = "4">region_13</option>
        <option value = "5">region_14</option>
        <option value = "6">region_15</option>
        <option value = "7">region_16</option>
        <option value = "8">region_17</option>
        <option value = "9">region_18</option>
        <option value = "10">region_19</option>
        <option value = "11">region_2</option>
        <option value = "12">region_20</option>
        <option value = "13">region_21</option>
        <option value = "14">region_22</option>
        <option value = "15">region_23</option>
        <option value = "16">region_24</option>
        <option value = "17">region_25</option>
        <option value = "18">region_26</option>
        <option value = "19">region_27</option>
        <option value = "20">region_28</option>
        <option value = "21">region_29</option>
        <option value = "22">region_3</option>
        <option value = "23">region_30</option>
        <option value = "24">region_31</option>
        <option value = "25">region_32</option>
        <option value = "26">region_33</option>
        <option value = "27">region_34</option>
        <option value = "28">region_4</option>
        <option value = "29">region_5</option>
        <option value = "30">region_6</option>
        <option value = "31">region_7</option>
        <option value = "32">region_8</option>
        <option value = "33">region_9</option>
    </select> 
    <br>
    <label for = "education">Education</label>
    <select id = "education" name = "education">
        <option value = "0">Bachelor's</option>
        <option value = "1">Below Secondary</option>
        <option value = "2">Master's & above</option>
    </select>
    <br>
    <label for = "gender">Gender</label>
    <select id = "gender" name = "gender">
        <option value = "0">female</option>
        <option value = "1">male</option>
    </select>
    <br>
    <label for = "Recruitment_channel">Recruitment Channel</label>
    <select id = "Recruitment_channel" name = "Recruitment_channel">
        <option value = "0">other</option>
        <option value = "1">referred</option>
        <option value = "2">sourcing</option>
    </select>
    <br>
    <label for = "no.of trainings">no.of trainings</label>
    <input type="text" id = "no.of trainings" name = "no.of trainings">
    <br>
    <label for = "age">age</label>
    <input type="text" id = "age" name = "age">
    <br>
    <label for = "previous year rating">previous year rating</label>
    <input type = "text" id= "previous year rating" name = "previous year rating">
    <br>
    <label for = "length_of_service">length_of_service</label>
    <input type = "text" id= "length_of_service" name = "length_of_service">
    <br>
    <label for = "KPIs_met >80%	">KPIs_met >80%	</label>
    <input type = "text" id= "KPIs_met >80%	" name = "KPIs_met >80%	">
    <br>
    <label for = "awards_won">awards_won</label>
    <input type = "text" id= "awards_won" name = "awards_won">
    <br>
    <label for = "avg_training_score">avg_training_score</label>
    <input type = "text" id= "avg_training_score" name = "avg_training_score">Out of 10
    <br>
    <input type="submit" value="Submit"> 

</form>
</html>